#h.main
	.shake
		.shadows
			.shadow-1.shadow
			.shadow-2.shadow
			.shadow-3.shadow
		.truck
			.a0
				.a0__front.face 
				.a0__back.face 
				.a0__right.face 
				.a0__left.face 
				.a0__top.face 
				.a0__bottom.face 
			.a1
				.a1__front.face 
					.a1__front-a.face 
						.f-light
						.f-light
				.a1__back.face 
				.a1__right.face 
				.a1__left.face 
				//- div.a1__top.face 
				.a1__bottom.face
			.a2
				.a2__front.face 
				.a2__back.face 
				.a2__right.face 
				.a2__left.face 
				//- div.a2__top.face 
				.a2__bottom.face
			.a3
				.a3__front.face 
				.a3__back.face 
				.a3__right.face 
				.a3__left.face 
				//- div.a3__top.face 
				.a3__bottom.face

			.wheel-a.flex
				.circle.flex
					.circle-a 
						- var n = 0;
						while n < 36
							.circle-a__side
							- n++;
						.circle-a__bottom
						.circle-a__top
					.circle-b 
						- var n = 0;
						while n < 36
							.circle-b__side
							- n++;
						.circle-b__bottom
						.circle-b__top
			.wheel-b.flex
				.circle.flex
					.circle-a 
						- var n = 0;
						while n < 36
							.circle-a__side
							- n++;
						.circle-a__bottom
						.circle-a__top
					.circle-b 
						- var n = 0;
						while n < 36
							.circle-b__side
							- n++;
						.circle-b__bottom
						.circle-b__top
			.wheel-c.flex
				.circle.flex
					.circle-a 
						- var n = 0;
						while n < 36
							.circle-a__side
							- n++;
						.circle-a__bottom
						.circle-a__top
					.circle-b 
						- var n = 0;
						while n < 36
							.circle-b__side
							- n++;
						.circle-b__bottom
						.circle-b__top
			.wheel-d.flex
				.circle.flex
					.circle-a 
						- var n = 0;
						while n < 36
							.circle-a__side
							- n++;
						.circle-a__bottom
						.circle-a__top
					.circle-b 
						- var n = 0;
						while n < 36
							.circle-b__side
							- n++;
						.circle-b__bottom
						.circle-b__top
			.b1
				.b1__front.face
					.f-light 
					.f-hoods
						.f-hood
							.f-hood__front.face 
							.f-hood__back.face 
							.f-hood__right.face 
							.f-hood__left.face 
							.f-hood__top.face 
							.f-hood__bottom.face 
						.f-hood
							.f-hood__front.face 
							.f-hood__back.face 
							.f-hood__right.face 
							.f-hood__left.face 
							.f-hood__top.face 
							.f-hood__bottom.face 
					.f-light 
				.b1__back.face 
				.b1__right.face 
				.b1__left.face 
				//- div.b1__top.face 
				.b1__bottom.face 
			.c1
				.c1__front.face 
					.c1__front-a.face 
						.f-lights
							.f-light
							.f-light
							.f-light
							.f-light
							.f-light
						.f-window
							.f-washers
								.f-washer
								.f-washer
							.f-reflexa
							.f-reflexb
							.f-a
								.f-a__front.face 
								.f-a__back.face 
								.f-a__right.face 
								.f-a__left.face 
								.f-a__top.face 
								.f-a__bottom.face 
						.f-line

				.c1__back.face 
				.c1__right.face 
					.f-swindows
						.f-swindow
						.f-swindow
						.f-swindow
						.f-swindow
						.f-swindow
						.f-swindow
				.c1__left.face 
					.f-swindows.f-swindows--reverse
						.f-swindow
						.f-swindow
						.f-swindow
						.f-swindow
						.f-swindow
						.f-swindow
						.f-sdoor
				.c1__top.face
					.f-airs
						.f-air
							.f-air__front.face 
							.f-air__back.face 
							.f-air__right.face 
							.f-air__left.face 
							.f-air__top.face 
							.f-air__bottom.face 
						.f-sunr
							.f-sunr-t

							.f-bubble
							.f-bubble
							.f-bubble
							.f-bubble
							.f-bubble
							.f-bubble
							.f-bubble
							.f-bubble
							.f-bubble
							.f-bubble

						.f-air
							.f-air__front.face 
							.f-air__back.face 
							.f-air__right.face 
							.f-air__left.face 
							.f-air__top.face 
							.f-air__bottom.face 
				.c1__bottom.face 

			.d1
				.d1-l
					.d1-l__front.face 
					.d1-l__back.face 
					.d1-l__right.face 
					.d1-l__left.face 
					.d1-l__top.face 
					.d1-l__bottom.face 
				.d1-r
					.d1-r__front.face 
					.d1-r__back.face 
					.d1-r__right.face 
					.d1-r__left.face 
					.d1-r__top.face 
					.d1-r__bottom.face 
				.d1-f
					.d1-fa
						.d1-fa__front.face 
						.d1-fa__back.face 
						.d1-fa__right.face 
						.d1-fa__left.face 
						.d1-fa__top.face 
						.d1-fa__bottom.face 
					.d1-fa
						.d1-fa__front.face 
						.d1-fa__back.face 
						.d1-fa__right.face 
						.d1-fa__left.face 
						.d1-fa__top.face 
						.d1-fa__bottom.face 
					.d1-fa
						.d1-fa__front.face 
						.d1-fa__back.face 
						.d1-fa__right.face 
						.d1-fa__left.face 
						.d1-fa__top.face 
						.d1-fa__bottom.face 
					.d1-fa
						.d1-fa__front.face 
						.d1-fa__back.face 
						.d1-fa__right.face 
						.d1-fa__left.face 
						.d1-fa__top.face 
						.d1-fa__bottom.face
